### Input and output methods
- Reading the data or information from the user---***input()***
    - Static input
    - Dynamical input
- Displaying the information or data to user---***print()***

In [1]:
a=20
b=30
print(a)
print(b)

20
30

In [2]:
a=input()
a

anil kumar

'anil kumar'

In [3]:
a=input()
a

333

'333'

In [4]:
a=input("enter user value")
a

enter user value006

'006'

In [5]:
a=float(input("enter user value"))
a

enter user value333

333.0

In [6]:
a=input("enter a value")
print(a)

enter a value345
345

In [7]:
a=30
b=40
c=60
print(a,b,c)

30 40 60

In [8]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [12]:
a=30
b=40
c=60
print(a,b,c,sep=",",end="\n")
print(c)

30,40,60
60

In [13]:
a=30
b=40
c=60
print(a,b,c,end="%")

30 40 60%

In [21]:
# generate the three values from the user that values seperated with $ and end with % and again print all values
a=input("enter a value")
b=input("enter b value")
c=input("enter c value")
print(a,b,c,sep="$",end="%")  
print(a,b,c)

enter a value23
enter b value44
enter c value356
23$44$356%23 44 356

### operators
- Arithmatic operators(+,-,*,**,/,//,%)
    - Output for the normal division quotient
    - Output for the int division or floor division is integer part of the quotient
    - Output for the modulo division is remainder
- Assignment operators(=)
- Comparision operators(<,>,<=,>=,==)
- Logical operators(and,or,not)
- Bitwise operators(&,|,^)
- Identify operators(is (==),isnot(!=))
- Membership operators(in,notin)

In [24]:
a=2
b=4
print("addition",a+b)
print("subtraction",a-b)
print("multiplication",a*b)
print("power",a**b)
print("division",a/b)
print("int division or floor division",a//b)
print("modulo division",a%b)

addition 6
subtraction -2
multiplication 8
power 16
division 0.5
int division or floor division 0
modulo division 2

###  Assignment operator
    - it represents with =
    - leftside value of the operator(=) is called as a variable
    - rifgtside value of the variable(=) is  called as a value

In [25]:
a=30
b=60
print(a)
print(b)

30
60

### comparision operator

In [26]:
2<6

True

In [27]:
6>2

True

In [32]:
if 2>9 and 2<=6:
    print("print true or false")
else:
    print("anil")

anil

In [33]:
8>=2

True

In [34]:
2>=9

False

### logical operators
    - and,or,not
- if all inputs are true the output is true(and).
- if  any one of the input is true the output is true(or).
- opposite operation for the given one(not).

In [35]:
2<5 and 3>6

False

In [36]:
2>5 and 3<6

False

In [37]:
2<5 and 3<6

True

In [38]:
2>5 or 3<6

True

In [39]:
2>5 or 3<1

False

In [40]:
a=100
not a

False

### Bitwise operator

In [44]:
2 & 3
# 2- 0 0 1 0
# 3- 0 0 1 1
# --------------
#  - 0 0 1 0

2

In [46]:
3|4

7

In [47]:
2<<3

16

In [48]:
2>>3

0

### identity operator

In [51]:
a is 100 and a is not 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\EFLAB\AppData\Local\Temp/ipykernel_1840/1988167162.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
C:\Users\EFLAB\AppData\Local\Temp/ipykernel_1840/1988167162.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [52]:
a == 100 and a != 100

False

### Membership operator

In [53]:
s=[1,3,5,7,9]
4 in s

False

In [54]:
10 not in s

True

In [55]:
2 not in s

True

In [56]:
12 not in s

True

In [62]:
12 not in s

True

In [61]:
a=45
a+=1--->a=a+1
a-=1---->a=a-1
a*=1---->a=a*1
a/=1---->a=a/1

### Flow control
- Conditional satements(if,else,elif,nestedif)
- Loops(for,while)
- Break,return

# c-language
if(condition){
    print(a)
}

## conditional statements

# if
if (condition):
    statement1
    statement2
    statement3
    ---------
    statementn

In [ ]:
#if-else
if (condition):
    statement1
    statement2
    statement3
    ----------
    statementn
    else:
        statement1
        statement2
        statement3
        ----------
        statementn

In [6]:
if 2>3:
    print("True")
else:
    print("False")

False

In [7]:
# given number is even or odd
n=int(input("enter the number"))
if(n%2==0):
    print("even number")
else:
    print("odd number")

enter the number3
odd number

In [8]:
# given number is even or odd
n=int(input("enter the number"))
if(n%2==0):
    print("even number")
else:
    print("odd number")

enter the number88
even number

#### given number is zero or positive or negative

In [13]:
n=25
if(n==0):
    print("zero")
elif(n>0):
        print("positive")
else:
        print("negative")

positive

In [14]:
# number is divisible by 2 but not divisible by 10
a=23
if a%2 is 0 and a%10 is not 0:
    print("valid number")
else:
    print("invalid number")

invalid number

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\EFLAB\AppData\Local\Temp/ipykernel_488/6687005.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if a%2 is 0 and a%10 is not 0:
C:\Users\EFLAB\AppData\Local\Temp/ipykernel_488/6687005.py:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if a%2 is 0 and a%10 is not 0:

In [15]:
# number is divisible by 2 but not divisible by 10
a=23
if a%2 == 0 and a%10 != 0:
    print("valid number")
else:
    print("invalid number")

invalid number

### Range
- syntax for the range is range(start,endvalue,step value)
- starting value is inclusive and end value is exclusive

In [ ]:
range(start,end,step)

In [16]:
range(19,20,1)
# 10,11,12,13,14,15,16,17,18,19
range(20,30,2)
# 20,22,24,26,28
range(20,41,5)
#20,25,30,35,40
range(50)
# consider as start value
range(20,30)
# consider start value and end value
# reverse print
range(10,1,-1)

range(10, 1, -1)

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(20,30,2))

[20, 22, 24, 26, 28]

In [21]:
list(range(20,41,5))

[20, 25, 30, 35, 40]

In [22]:
list(range(50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [23]:
list(range(20,30))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [24]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

### loops
- for,while
- for loop:::A for loop in python is a control flow statement that are used to repeatedly execute a group of statements as long as the condition is satisfied.
- Such a type of statement is also known as an iterative statement.
- Threefore,for loop is an iterative statement.

# syntax:::
            for iter in iterable: # range predefined function in the position of iterable 
                statement1
                statement2
                statementn

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [4]:
for i in range(0,10,2):
    print(i,end=" ")

0 2 4 6 8

In [6]:
# print the evem numbers in the range of 0 to 100 and print even number count
c=0
for i in range(0,101,2):
    c=c+1
    print(i,end=" ")
    print("\neven number count:",c)

0
even number count: 1
2
even number count: 2
4
even number count: 3
6
even number count: 4
8
even number count: 5
10
even number count: 6
12
even number count: 7
14
even number count: 8
16
even number count: 9
18
even number count: 10
20
even number count: 11
22
even number count: 12
24
even number count: 13
26
even number count: 14
28
even number count: 15
30
even number count: 16
32
even number count: 17
34
even number count: 18
36
even number count: 19
38
even number count: 20
40
even number count: 21
42
even number count: 22
44
even number count: 23
46
even number count: 24
48
even number count: 25
50
even number count: 26
52
even number count: 27
54
even number count: 28
56
even number count: 29
58
even number count: 30
60
even number count: 31
62
even number count: 32
64
even number count: 33
66
even number count: 34
68
even number count: 35
70
even number count: 36
72
even number count: 37
74
even number count: 38
76
even number count: 39
78
even number count: 40
80
even number count: 41
82
even number count: 42
84
even number count: 43
86
even number count: 44
88
even number count: 45
90
even number count: 46
92
even number count: 47
94
even number count: 48
96
even number count: 49
98
even number count: 50
100
even number count: 51

In [10]:
c=0
for i in range(0,101):
    if i%2==0:
        c=c+1
        print(i,end=" ")
    print("\neven number count:",c)

0
even number count: 1

even number count: 1
2
even number count: 2

even number count: 2
4
even number count: 3

even number count: 3
6
even number count: 4

even number count: 4
8
even number count: 5

even number count: 5
10
even number count: 6

even number count: 6
12
even number count: 7

even number count: 7
14
even number count: 8

even number count: 8
16
even number count: 9

even number count: 9
18
even number count: 10

even number count: 10
20
even number count: 11

even number count: 11
22
even number count: 12

even number count: 12
24
even number count: 13

even number count: 13
26
even number count: 14

even number count: 14
28
even number count: 15

even number count: 15
30
even number count: 16

even number count: 16
32
even number count: 17

even number count: 17
34
even number count: 18

even number count: 18
36
even number count: 19

even number count: 19
38
even number count: 20

even number count: 20
40
even number count: 21

even number count: 21
42
even number count: 22

even number count: 22
44
even number count: 23

even number count: 23
46
even number count: 24

even number count: 24
48
even number count: 25

even number count: 25
50
even number count: 26

even number count: 26
52
even number count: 27

even number count: 27
54
even number count: 28

even number count: 28
56
even number count: 29

even number count: 29
58
even number count: 30

even number count: 30
60
even number count: 31

even number count: 31
62
even number count: 32

even number count: 32
64
even number count: 33

even number count: 33
66
even number count: 34

even number count: 34
68
even number count: 35

even number count: 35
70
even number count: 36

even number count: 36
72
even number count: 37

even number count: 37
74
even number count: 38

even number count: 38
76
even number count: 39

even number count: 39
78
even number count: 40

even number count: 40
80
even number count: 41

even number count: 41
82
even number count: 42

even number count: 42
84
even number count: 43

even number count: 43
86
even number count: 44

even number count: 44
88
even number count: 45

even number count: 45
90
even number count: 46

even number count: 46
92
even number count: 47

even number count: 47
94
even number count: 48

even number count: 48
96
even number count: 49

even number count: 49
98
even number count: 50

even number count: 50
100
even number count: 51

In [2]:
# print leap year from the range of 2000 to 2020, print years
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if (i%400==0) and (i%100!=0) or (i%4==0):
        c=c+1
        print(i,end=" ")
print("\nyears count:",c)

2001
2019
2004 2008 2012 2016
years count: 4

In [7]:
n=5
for i in range(1,11):
    print(n,"*",1,"=",n*i)

5 * 1 = 5
5 * 1 = 10
5 * 1 = 15
5 * 1 = 20
5 * 1 = 25
5 * 1 = 30
5 * 1 = 35
5 * 1 = 40
5 * 1 = 45
5 * 1 = 50

In [8]:
# print factors of 5
n=int(input())
for i in range(1,n+1):
    if (n%i==0):
        print(i,end=" ")

9
1 3 9

In [10]:
# I/P=aba
# 97+98+97=292
# o/p 292
a=input()
s=0
for i in a:
    s=s+ord(i)
print(s)

Cbf
267

In [ ]:
# prime number
n=int(input())
c=0
for i in range(1,n+1):
    if (n%i==0):
        c=c+1
if(c==2):
    print("prime number")
else:
        print("not a prime number")

In [6]:
# 0-10
# even numbers
# odd numbers
n=int(input("enter number"))
print("even numbers are")
for i in range(n+1):
    if (i%2==0):
        print(i)
print("odd numbers")
for i in range(n+1):
    if(i%2!=0):
        print(i,end=" ")

enter number33
even numbers are
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
odd numbers
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33